// Place all the styles related to the Logos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.field-margin {
  margin: 15px 0;
}

.image-label {
  font-size: 12px;
  font-style: italic;
}
